/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/05/2016, 01:36:00
    Author     : narcelio
*/

body {
    height: 600px;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
}